<style>
    {
      margin: 0;
      padding: 0;
      box-sizing: border-box;
      font-family: 'Arial', sans-serif;
    }

    body {
      background: linear-gradient(rgba(255, 255, 255, 0.8), rgba(255, 255, 255, 0.8)),
        url('../img/f1.jpg') no-repeat center center fixed;
      background-size: cover;
    }

    header {
      background-color: #456396; /* Cor da barra superior */
      padding: 20px;
    }

    nav {
      display: flex;
      justify-content: center;
    }

    nav ul {
      list-style: none;
      display: flex;
      gap: 40px;
    }

    nav li a {
      text-decoration: none;
      color: white;
      font-weight: bold;
      font-size: 18px;
      transition: color 0.3s;
    }

    nav li a:hover {
      color: #ddd;
    }

    .content {
      text-align: center;
      margin-top: 50px;
      font-size: 24px;
      color: #333;
    }
  </style>
